<header></header>
<main class="find-wrapper">
  <section class="find">
    <div class="find-heading">
      <p>Find Your Gym & </p>
      <p>Get a Free 7-Day Pass</p>
    </div>
    <form class="find-search">
      <input type="text" name="" placeholder="Search by City & State or Zip" ng-model="location">
      <button type="button" name="button" ng-click="getGeo(location)"><i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </form>
    <div class="find-locations">
      <div class="find-current">
        <i class="fa fa-crosshairs" aria-hidden="true"></i>
        <p>Use Current Location</p>
      </div>
      <div class="find-all">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <p>View All Locations</p>
      </div>
    </div>
  </section>

  <section class="find-map">
  <div class="maps" id="map">
    {{map}}
  </div>
  </section>


</main>






<!-- <script>
  function initMap() {
    var options = {
      zoom: 13,
      center: { lat: 42.3601, lng: -71.0589 }
    }
  }

  var map = new google.maps.Map(document.getElementById('map'), options);
</script>


<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAGhSp6JMWAFvrvAA_8vXh3HR11TBus5Y&callback=initMap">
</script> -->


<footer></footer>
