<section class="footer-bottom">
  <div class="footer-bottom-nav">
    <div class="footer-bottom-text">
      <p class="footer-bottom-heading">company</p>
      <div class="footer-bottom-subheading">
        <p class="footer-hover-highlight">press</p>
        <p class="footer-hover-highlight">careers</p>
        <p class="footer-hover-highlight">employee welness</p>
        <p class="footer-hover-highlight">preferred vendors</p>
        <p class="footer-hover-highlight">privacy policy</p>
        <p class="footer-hover-highlight">dcma policy</p>
        <p class="footer-hover-highlight">terms & conditions</p>
        <p class="footer-hover-highlight">continued operations, accessibility and maintenance</p>
        <p class="footer-hover-highlight">fanchise opportunities</p>
      </div>
    </div>
    <div class="footer-bottom-text">
      <p class="footer-bottom-heading">gyms</p>
      <div class="footer-bottom-subheading">
        <p class="footer-hover-highlight">find a gym</p>
        <p class="footer-hover-highlight">own a gym</p>
        <p class="footer-hover-highlight">view all gyms</p>
        <p class="footer-hover-highlight">franchise login</p>
      </div>
    </div>
    <div class="footer-bottom-text">
      <p class="footer-bottom-heading">members</p>
      <div class="footer-bottom-subheading">
        <p class="footer-hover-highlight">#myanytimestory</p>
        <p class="footer-hover-highlight">rugged maniac</p>
        <p class="footer-hover-highlight">blog</p>
        <p class="footer-hover-highlight">faqs</p>
        <p class="footer-hover-highlight">contact us</p>
      </div>
    </div>
  </div>

  <div class="footer-bottom-etc">
    <div class="footer-social-media">
      <div class="footer-social-circle">
        <a href="https://www.linkedin.com/company-beta/162468/"><i class="fa fa-linkedin i1" aria-hidden="true"></i></a>
      </div>
      <div class="footer-social-circle">
        <a href="https://www.youtube.com/user/AnytimeFitnessLLC"><i class="fa fa-youtube-play i2" aria-hidden="true"></i></a>
      </div>
      <div class="footer-social-circle">
      <a href="https://plus.google.com/109401374558270350813"><i class="fa fa-google-plus i3" aria-hidden="true"></i></a>
      </div>
      <div class="footer-social-circle">
        <a href="https://www.pinterest.com/anytimefitness/"><i class="fa fa-pinterest i4" aria-hidden="true"></i></a>
      </div>
      <div class="footer-social-circle">
        <a href="https://www.instagram.com/anytimefitness/"><i class="fa fa-instagram i5" aria-hidden="true"></i></a>
      </div>
      <div class="footer-social-circle">
        <a href="https://twitter.com/AnytimeFitness"><i class="fa fa-twitter i6" aria-hidden="true"></i></a>
      </div>
      <div class="footer-social-circle">
        <a href="https://www.facebook.com/AnytimeFitness"><i class="fa fa-facebook i7" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="footer-self-esteem">
      <img src="./images/home/seb-logo-light.png" alt="self esteem logo" />
      <p class="footer-bottom-tm">A Self Esteem Brands<span>&trade;</span> company</p>
      <p class="footer-bottom-c"><span>&copy;</span> Anytime Fitness LLC 2017. All rights reserved.</p>
    </div>
  </div>
</section>
