<header></header>
<main class="home-main-wrapper">
  <section class="home-dark-underlay">
    <div class="home-top">
      <div class="home-top-div1">
        <p>Find Your Gym <span>& Get a Free 7-Day Pass</span></p>
        <div class="home-location-search">
            <input type="text" name="" value="" placeholder="City & State or Zip Code"/>
            <button type="button" name="button"><i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
      </div>
      <div class="home-top-div2">
        <p class="home-div2-text1">We'll Help You</p>
        <p class="home-div2-text2">Get to a Healthier Place<sup>&reg;</sup></p>
      </div>
      <div class="home-top-div3">
        <button type="button" name="button">
          <p>LEARN MORE</p>
          <i class="fa fa-play-circle" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </section>

  <section class="home-middle">
    <div class="home-middle-div home-div1">
      <p>Membership Benefits</p>
    </div>
    <div class="home-middle-div home-div2">
      <p>Anytime Fitness App</p>
    </div>
    <div class="home-middle-div home-div3">
      <p>Calling All <span>Maniacs!</span></p>
    </div>
  </section>
</main>
<footer></footer>
