<header></header>
<main class="join-wrapper">
  <section class="join-top-underlay">
    <div class="join-top">
      <p>Why Join Anytime Fitness?</p>
      <p>If you’re looking to join a supportive, welcoming gym community, with people of all fitness levels who want to see you succeed, you’ve come to the right place.</p>
      <button type="button" name="button">
        <p>TOUR A GYM</p>
        <i class="fa fa-play-circle" aria-hidden="true">
      </button>
    </div>
  </section>

  <section>
    <div class="">
      <img src="./images/join/icon-support.png" alt="support">
      <p>Support</p>
      <p>Every member gets a free, personalized Get Started Plan when they join. Our friendly, professional staff is trained to help you along your fitness journey, no matter how much support you need.</p>
    </div>
    <div class="">
      <img src="./images/join/icon-tools-training.png" alt="treadmill">
      <p>Tools & Training</p>
      <p>Getting to a healthier place is about more than going to the gym. That’s why we offer personal training and classes when you’re here, and the right tools to keep you on track when you’re not.</p>
    </div>
    <div class="">
      <img src="./images/join/icon-convenience.png" alt="clock">
      <p>Convenience</p>
      <p>With 24/7 access to more than 3,000 locations worldwide, you're joining the most convenient gym on the planet.</p>
    </div>
    <div class="">
      <img src="./images/join/icon-community.png" alt="heart">
      <p>Community</p>
      <p>You’re not just joining a gym. You’re joining a supportive community of like-minded people who are here to give you the encouragement you need.</p>
    </div>
  </section>
</main>



<footer></footer>
