<div class="training-header">
  <header></header>
</div>
<main class="training-wrapper">
  <section class="training-top">
    <div class="training-top-heading">
      <p>Coaching & Training Services</p>
    </div>
    <div class="training-top-p">
      <p>Whether you're new to working out or a fitness pro, we’re here to provide a variety of training options, guidance and friendly support to help you stay on track and reach your goals. Get to a healthier place today!</p>
    </div>
    <div class="training-top-button">
      <button type="button" name="button">find your gym <span>to learn more</span></button>
    </div>
    <div class="training-top-a">
      <a href="#">LEARN MORE</a>
    </div>
  </section>

  <section class="training-middle">
    <div class="training-videos">
      <div class="training-video">
        <a href="#"><img ng-src="./images/training/coaching-training-fitness-conslutation.jpg" alt=""></a>
        <i class="fa fa-play-circle-o" aria-hidden="true"></i>
      </div>
      <div class="training-video-text">
        <p>FITNESS CONSULTATION</p>
        <p>Through a short survey, conversation and a movement assessment, our team will prescribe the perfect program to get you started and on track to meet your fitness goals.</p>
      </div>
    </div>
    <div  class="training-videos">
      <div class="training-video">
        <a href="#"><img ng-src="./images/training/coaching-training-group-training.jpg" alt=""></a>
        <i class="fa fa-play-circle-o" aria-hidden="true"></i>
      </div>
      <div class="training-video-text">
        <p>GROUP TRAINING</p>
        <p>Full-body workouts designed to build strength and endurance, using the energy of the group and the expertise of the certified personal trainer to maximize your results.</p>
      </div>
    </div>
    <div  class="training-videos">
      <div class="training-video">
        <a href="#"><img ng-src="./images/training/coaching-training-personal-training.jpg" alt=""></a>
        <i class="fa fa-play-circle-o" aria-hidden="true"></i>
      </div>
      <div class="training-video-text">
        <p>PERSONAL TRAINING</p>
        <p>One-on-one personalized workouts with a certified personal trainer designed to make you stronger from the inside out.</p>
      </div>
    </div>
  </section>

  <section>
    <p>Learn which training services are offered at your neighborhood gym. We look forward to meeting you!</p>
    <button type="button" name="button">find your gym</button>
  </section>
</main>
<footer></footer>
