@import 'fonts';

.find-wrapper {
  .find {
    background: url('./images/join/gym-finder-background.jpg') no-repeat;
    background-size: cover;
    height: 216px;
    width: 100%;
    background-position-x: 50%;
    color: #ffffff;
    text-align: center;
    padding: 19px 12px 0 12px;
    font-family: $robreg;
    font-size: 18px;
    .find-heading {
      margin-bottom: 7px;
      p {
        line-height: 25px;
      }
    }
    .find-search {
      display: flex;
      heigth: 49px;
      width: 100%;
      margin-bottom: 22px;
      input {
        height: 49px;
        width: 80%;
        border-radius: 8px 0 0 8px;
        border: none;
        font-size: 14px;
        padding-left: 20px;
        font-family: $robreg;
      }
      button {
        height: 49px;
        width: 59px;
        background: #804c9e;
        border-radius: 0 8px 8px 0;
        border: none;
        color: #ffffff;
        font-size: 18px;
        transition: all 0.2s linear;
      }
      button:hover {
        background: #432f4e;
        cursor: pointer;
      }
    }
    .find-locations {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-left: 14%;
      .find-current {
        display: flex;
        margin-bottom: 7px;
        i {
          margin-right: 12px;
        }
      }
      .find-all {
        display: flex;
        i {
          margin-right: 16px;
          padding-left: 1%;
        }
      }
    }
  }
}


////////////////////////////////////////////

@media (min-width: 770px) {
  header {
    top: 0;
    position: fixed;
  }
  .find-wrapper {
    margin-top: 70px;
    .find {
      height: 193px;
      padding: 30px 0 0 0;
      font-size: 18px;
      .find-heading {
        margin-bottom: 22px;
        display: flex;
        justify-content: center;
        p {
          margin-right: 4px;
          line-height: 0;
        }
      }
      .find-search {
        display: flex;
        heigth: 51px;
        width: 100%;
        justify-content: center;
        margin-bottom: 21px;
        input {
          height: 51px;
          width: 301px;
          border-radius: 8px 0 0 8px;
          font-size: 15px;
          padding-left: 19px;
        }
        button {
          height: 51px;
          width: 64px;
          border-radius: 0 8px 8px 0;
          font-size: 20px;
        }
      }
      .find-locations {
        align-items: center;
        padding-left: 0;
        .find-current {
          margin-bottom: 7px;
          i {
            margin-right: 11px;
          }
        }
        .find-all {
          margin-right: 19px;
          i {
            margin-right: 15px;
          }
        }
      }
    }
    .find-map {
      height: 692px;
      width: 100%;
      .maps {
        height: 100%;
        width: 100%;
      }
    }
  }

}
