@import 'fonts';

.find-wrapper {
  .find {
    background: url('./images/join/gym-finder-background.jpg') no-repeat;
    background-size: cover;
    height: 652px;
    width: 100%;
    background-position-x: 50%;
    color: #ffffff;
    text-align: center;
    padding: 56px 40px 160px 56px;
    font-family: $robreg;
    font-size: 55px;
    .find-heading {
      margin-bottom: 29px;
      p {
        line-height: 77px;
      }
    }
    .find-search {
      display: flex;
      heigth: 160px;
      width: 100%;
      margin-bottom: 56px;
      input {
        height: 160px;
        width: 78%;
        border-radius: 20px 0 0 20px;
        border: none;
        font-size: 44px;
        padding-left: 56px;
        font-family: $robreg;
      }
      button {
        height: 160px;
        width: 22%;
        background: #804c9e;
        border-radius: 0 20px 20px 0;
        border: none;
        color: #ffffff;
        font-size: 67px;
      }
    }
    .find-locations {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-left: 13%;
      .find-current {
        display: flex;
        margin-bottom: 20px;
        i {
          margin-right: 20px;
        }
      }
      .find-all {
        display: flex;
        i {
          margin-right: 31px;
          padding-left: 1%;
        }
      }
    }
  }
}





@media only screen and (min-width: 770px) {
  header {
    top: 0;
    position: fixed;
  }
  .find-wrapper {
    margin-top: 87px;
    .find {
      height: 250px;
      padding: 1px 0px 1px 0px;
      font-size: 24px;
      .find-heading {
        margin-bottom: 4px;
        display: flex;
        justify-content: center;
        p:first-of-type {
          margin-right: 3px;


          
          line-height: 0;



        }
      }
      .find-search {
        display: flex;
        heigth: 67px;
        width: 100%;
        display: flex;
        justify-content: center;
        input {
          height: 67px;
          width: 384px;
          border-radius: 10px 0 0 10px;
          font-size: 19px;
          padding-left: 26px;
        }
        button {
          height: 67px;
          width: 75px;
          border-radius: 0 10px 10px 0;
          font-size: 27px;
        }
      }
      .find-locations {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 13%;
        .find-current {
          display: flex;
          margin-bottom: 20px;
          i {
            margin-right: 20px;
          }
        }
        .find-all {
          display: flex;
          i {
            margin-right: 31px;
            padding-left: 1%;
          }
        }
      }
    }
    .find-map {
      height: 681px;
      width: 100%;
    }
  }

}
