@import 'fonts';


.footer-hover-highlight:hover {
  color: #ffffff;
}

.footer-bottom {
  background: #333;
  padding: 63px 18px;
  .footer-bottom-nav {
    margin-bottom: 30px;
    .footer-bottom-text {
      text-transform: uppercase;
      font-family: $av;
      margin-bottom: 29px;
      .footer-bottom-heading {
        font-size: 16px;
        color: #ffffff;
        margin-bottom: 19px;
      }
      .footer-bottom-subheading {
        p {
          color: #888;
          font-size: 14px;
          margin-bottom: 19px;
          line-height: 20px;
        }
      }
    }
  }

  .footer-bottom-etc {
    .footer-social-media {
      display: flex;
      flex-flow: row-reverse wrap;
      .footer-social-circle {
        height: 40px;
        width: 40px;
        border: #888 2px solid;
        border-radius: 50%;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 28px;
        margin-right: 13px;
        a {
          text-decoration: none;
          i {
            color: #888;
          }
          .i1 {
            font-size: 26px;
          }
          .i2 {
            font-size: 23px;
          }
          .i3 {
            font-size: 19px;
          }
          .i4 {
            font-size: 24px;
          }
          .i5 {
            font-size: 23px;
          }
          .i6 {
            font-size: 24px;
          }
          .i7 {
            font-size: 27px;
          }
        }
      }
    }
    .footer-self-esteem {
      font-family: $robreg;
      color: #888;
      font-size: 14px;
      img {
        height: 52px;
        width: auto;
        margin-bottom: 8px;
      }
      .footer-bottom-tm {
        margin-bottom: 24px;
        span {
          font-size: 16px;
        }
      }
      .footer-bottom-c {
        line-height: 20px;
      }
    }
  }
}


@media (min-width: 770px) {
  .footer-bottom {
    height: 488px;
    padding: 58px 21px;
    display: flex;
    .footer-bottom-nav {
      display: flex;
      width: 75%;
      .footer-bottom-text {
        width: 33.333%;
        padding-right: 2px;
        .footer-bottom-heading {
          margin-bottom: 17px;
        }
        .footer-bottom-subheading {
          p {
            font-size: 14px;
            margin-bottom: 11px;
            line-height: 19px;
          }
        }
      }
    }

    .footer-bottom-etc {
      text-align: right;
      width: 25%;
      position: relative;
      .footer-social-media {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 100px;
        .footer-social-circle {
          height: 40px;
          width: 40px;
          border: #888 2px solid;
          display: flex;
          margin-bottom: 16px;
          margin-left: 16px;
          margin-right: 0;
          a {
            text-decoration: none;
            // i {
            //   color: #888;
            // }
            // .i1 {
            //   font-size: 26px;
            // }
            // .i2 {
            //   font-size: 23px;
            // }
            // .i3 {
            //   font-size: 19px;
            //   // order: 3;
            // }
            // .i4 {
            //   font-size: 24px;
            // }
            // .i5 {
            //   font-size: 23px;
            // }
            // .i6 {
            //   font-size: 24px;
            // }
            // .i7 {
            //   font-size: 27px;
            // }
          }
        }
      }
      .footer-self-esteem {
        font-size: 14px;
        position: absolute;
        right: 0;
        bottom: -4px;
        width: 418px;
        img {
          height: 52px;
          width: auto;
          margin-bottom: 10px;
        }
        .footer-bottom-tm {
          margin-bottom: 2px;
        }
        .footer-bottom-c {
          line-height: 37px;
        }
      }
    }
  }
}
