@import 'fonts';

#learn-hover:hover {
  background: #ffffff;
  color: #804c9e;
  transition: .4s;
  i {
    opacity: 1;
  }
}

#home-text-blur:hover {
  opacity: 0.8;
  transition: .5s;
}

.home-scale:hover {
  transform: scale(1.5, 1.5);
  transition: .25s;
}

.home-main-wrapper {
  .home-top {
    background: url('./images/home/anytime-fitness-weights-mobile.jpg') no-repeat;
    background-size: cover;
    background-position-x: 50%;
    opacity: 0.98;
    height: 660px;
    width: 100%;
    position: relative;
    .home-top-overlay {
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 0;
      left: 0;
      padding: 102px 15px 0 15px;
      .home-top-div1 {
        text-align: center;
        margin-bottom: 90px;
        p {
          font-size: 20px;
          color: #ffffff;
          font-family: $av;
          line-height: 26px;
          margin-bottom: 9px;
        }
        .home-location-search {
          display: flex;
          heigth: 50px;
          width: 100%;
          input {
            height: 50px;
            width: 100%;
            border-radius: 6px 0 0 6px;
            border: none;
            font-size: 15px;
            padding-left: 20px;
            font-family: $robreg;
          }
          button {
            height: 50px;
            width: 65px;
            background: #804c9e;
            border-radius: 0 6px 6px 0;
            border: none;
            color: #ffffff;
            font-size: 22px;
            transition: all 0.2s linear;
          }
          button:hover {
            background: #432f4e;
            cursor: pointer;
          }
        }
      }
      .home-top-div2 {
        color: #fff;
        text-align: center;
        position: relative;
        margin-bottom: 77px;
        .home-div2-text1 {
          font-size: 30px;
          font-family: $robreg;
          margin-bottom: 13px;
        }
        .home-div2-text2 {
          font-size: 50px;
          font-family: $av;
          sup {
            font-size: 50%;
            position: absolute;
            bottom: 27px;
          }
        }
      }
      .home-top-div3 {
        display: flex;
        justify-content: center;
        button {
          background-color: transparent;
          height: 56px;
          width: 215px;
          border: #ffffff 3px solid;
          border-radius: 82px;
          color: #ffffff;
          text-align: center;
          font-size: 16px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 0 21px;
          p {
            font-family: $av;
          }
          i {
            font-size: 2em;
            opacity: 0.6;
          }
        }
      }
    }
  }

  .home-middle {
    .home-parent {
      height: 384px;
      width: 100%;
      overflow: hidden;
      display: inline-block;
      position: relative;
      display: flex;
      align-items: center;
      .home-child {
        width: 100%;
        height: 100%;
        background-size: cover;
        transition: all 0.2s linear;
        overflow: hidden;
        opacity: 0.6;
        position: absolute;
        z-index: 5;
      }
      .home-child:hover {
        transform: scale(1.05, 1.05);
        opacity: 0.9;
        cursor: pointer;
      }
      .home-child-overlay {
        background: black;
        height: 100%;
        width: 100%;
        position: absolute;
      }
      .home-child-text {
        font-size: 30px;
        color: #ffffff;
        font-family: $av;
        z-index: 10;
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 12px 4% 0 4%;
        width: 100%;
        p:first-of-type {
          line-height: 43px;
          margin-bottom: 10px;
        }
        .home-middle-hide {
          display: none;
        }
        .home-mid-span2 {
          font-family: $sans;
          font-size: 105%;
        }
      }
      .home-child1 {
        background: url('./images/home/anytime-fitness-gym.jpg') no-repeat;
        background-size: cover;
        background-position-x: 50%;
      }
      .home-child2 {
        background: url('./images/home/App.jpg') no-repeat;
        background-size: cover;
        background-position-x: 50%;
      }
      .home-child3 {
        background: url('./images/home/Rugged3.jpg') no-repeat;
        background-size: cover;
        background-position-x: 50%;
      }
    }
  }
}

////////////////////// 770 ////////////////////

@media (min-width: 770px) {
  .home-main-wrapper {
    .home-top {
      background: url('./images/home/AMKT16843-WEBSITE-PHOTO-OPTION1d-1.jpg') no-repeat;
      background-size: cover;
      background-position-x: 50%;
      height: 835px;
      opacity: 0.9;
      position: initial;
      .home-top-overlay {
        display: flex;
        flex-direction: column;
        height: 101%;
        padding: 260px 0px 0px 0;
        .home-top-div1 {
          margin-bottom: 90px;
          order: 2;
          p {
            font-size: 27px;
            line-height: 45px;
            span {
              display: none;
            }
          }
          .home-location-search {
            heigth: 52px;
            justify-content: center;
            input {
              height: 52px;
              width: 300px;
              border-radius: 5px 0 0 5px;
            }
            button {
              height: 52px;
              width: 63px;
              background: #804c9e;
              border-radius: 0 5px 5px 0;
              font-size: 21px;
            }
          }
        }
        .home-top-div2 {
          padding-left: 10%;
          padding-right: 10%;
          margin-bottom: 58px;
          order: 1;
          .home-div2-text1 {
            font-size: 40px;
            margin-bottom: 16px;
          }
          .home-div2-text2 {
            font-size: 70px;
            line-height: 80px;
            sup {
              bottom: 17px;
            }
          }
        }
        .home-top-div3 {
          order: 3;
          button {
            width: 214px;
            border-radius: 62px;
            font-size: 17px;
            padding: 10px 18px;
          }
        }
      }
    }

    .home-middle {
      display: flex;
      .home-parent {
        width: 33.333%;
        .home-child-text {
          font-size: 40px;
          padding: 0 2%;
          top: 32%;
          .home-middle-hide {
            display: block;
            font-size: 17px;
            line-height: 23px;
            font-family: $robreg;
          }
        }
      }
    }
  }
}

////////////////////// 990 ////////////////////

@media (min-width: 990px) {
  .home-top-div2 {
    padding-left: 0;
    padding-right: 0;
  }
}
