@import 'fonts';

.home-main-wrapper {
  z-index: 5;
  // background: #ffffff;
  // height: 100%;
  // width: 100%;
  .home-dark-underlay {
    background: #333;
    width: 100%;
    height: 2100px;
    // position: relative;
    .home-top {
      // position: absolute;
      background: url('./images/home/anytime-fitness-weights-mobile.jpg') no-repeat;
      background-size: cover;
      background-position-x: 50%;
      opacity: 0.75;
      // filter: brightness(77%);
      height: 2100px;
      width: 100%;
      padding: 290px 40px 0 40px;
      .home-top-div1 {
        text-align: center;
        margin-bottom: 139px;
        p {
          filter: brightness(150%);
          font-size: 4em;
          color: #ffffff;
          font-family: $av;
          line-height: 80px;
          margin-bottom: 23px;
        }
        .home-location-search {
          display: flex;
          heigth: 160px;
          width: 100%;
          input {
            height: 160px;
            width: 78%;
            border-radius: 20px 0 0 20px;
            border: none;
            font-size: 2.75em;
            padding-left: 56px;
            font-family: $robreg;
          }
          button {
            height: 160px;
            width: 22%;
            background: #804c9e;
            border-radius: 0 20px 20px 0;
            border: none;
            color: #ffffff;
            font-size: 67px;
          }
        }
      }
      .home-top-div2 {
        color: #fff;
        // opacity: 0.75;
        text-align: center;
        position: relative;
        margin-bottom: 200px;
        .home-div2-text1 {
          font-size: 5.75em;
          font-family: $robreg;
          margin-bottom: 42px;
        }
        .home-div2-text2 {
          font-size: 11em;
          font-family: $av;
          sup {
            font-size: 50%;
            position: absolute;
            bottom: 106px;
          }
        }
      }
      .home-top-div3 {
        display: flex;
        justify-content: center;
        button {
          background-color: transparent;
          height: 163px;
          width: 73%;
          border: #ffffff 9px solid;
          border-radius: 82px;
          color: #ffffff;
          text-align: center;
          font-size: 3em;
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 0 82px;
          p {
            font-family: $av;
          }
          i {
            font-size: 2em;
            opacity: 0.6;
          }
        }
      }
    }
  }

  .home-middle {
    .home-middle-div {
      height: 1173px;
      width: 100%;
      filter: brightness(77%);
      font-size: 5.5em;
      color: #ffffff;
      text-align: center;
      font-family: $av;
      padding: 0 56px;
      display: flex;
      align-items: center;
      span {
        font-family: $sans;
        font-size: 105%;
      }
    }
    .home-div1 {
      background: url('./images/home/anytime-fitness-gym.jpg') no-repeat;
      background-size: cover;
      background-position-x: 50%;
    }
    .home-div2 {
      background: url('./images/home/App.jpg') no-repeat;
      background-size: cover;
      background-position-x: 50%;
    }
    .home-div3 {
      background: url('./images/home/Rugged3.jpg') no-repeat;
      background-size: cover;
      background-position-x: 50%;
    }
  }

  .home-bottom {
    background: #333;
    padding: 180px 54px;
    .home-bottom-nav {
      margin-bottom: 100px;
      .home-bottom-text {
        text-transform: uppercase;
        font-family: $av;
        margin-bottom: 70px;
        .home-bottom-heading {
          font-size: 21px;
          color: #ffffff;
          margin-bottom: 70px;
        }
        .home-bottom-subheading {
          p {
            color: #888;
            font-size: 14px;
            margin-bottom: 60px;
            line-height: 38px;
          }
        }
      }
    }
    .home-bottom-etc {
      .home-social-media {
        display: flex;
        flex-flow: wrap;
        .home-social-circle {
          height: 125px;
          width: 125px;
          border: #888 8px solid;
          border-radius: 50%;
          background-color: transparent;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 87px;
          margin-right: 40px;
          a {
            text-decoration: none;
            i {
              color: #888;
            }
            .i1 {
              font-size: 78px;
            }
            .i2 {
              font-size: 71px;
            }
            .i3 {
              font-size: 56px;
            }
            .i4 {
              font-size: 71px;
            }
            .i5 {
              font-size: 73px;
            }
            .i6 {
              font-size: 72px;
            }
            .i7 {
              font-size: 80px;
            }
          }
        }
      }
      .home-self-esteem {
        font-family: $robreg;
        color: #888;
        font-size: 14px;
        img {
          height: 162px;
          width: auto;
          margin-bottom: 32px;
        }
        .home-bottom-tm {
          margin-bottom: 80px;
          span {
            font-size: 16px;
          }
        }
        .home-bottom-c {
          line-height: 50px;
        }
      }
    }
  }
}
