@import 'fonts';

.home-main-wrapper {
  // background: #333;
  // z-index: 5;
  // -moz-box-shadow:    inset 0 30px 15px -7px #1e1e1e;
  // -webkit-box-shadow: inset 0 30px 15px -7px #1e1e1e;
  // box-shadow:         inset 0 30px 15px -7px #1e1e1e;
  .home-dark-underlay {
    // background: #333;
    // width: 100%;
    // height: 2020px;
    .home-top {
      background: url('./images/home/anytime-fitness-weights-mobile.jpg') no-repeat;
      background-size: cover;
      background-position-x: 50%;
      // opacity: 0.75;
      height: 660px;
      width: 100%;
      padding: 95px 15px 0 15px;
      .home-top-div1 {
        text-align: center;
        margin-bottom: 45px;
        p {
          // filter: brightness(150%);
          font-size: 20px;
          color: #ffffff;
          font-family: $av;
          line-height: 26px;
          margin-bottom: 9px;
        }
        .home-location-search {
          display: flex;
          heigth: 50px;
          width: 100%;
          input {
            height: 50px;
            width: 100%;
            border-radius: 6px 0 0 6px;
            border: none;
            font-size: 15px;
            padding-left: 20px;
            font-family: $robreg;
          }
          button {
            height: 50px;
            width: 65px;
            background: #804c9e;
            border-radius: 0 6px 6px 0;
            border: none;
            color: #ffffff;
            font-size: 22px;
          }
        }
      }
      .home-top-div2 {
        color: #fff;
        text-align: center;
        position: relative;
        margin-bottom: 66px;
        .home-div2-text1 {
          font-size: 30px;
          font-family: $robreg;
          margin-bottom: 13px;
        }
        .home-div2-text2 {
          font-size: 50px;
          font-family: $av;
          sup {
            font-size: 50%;
            position: absolute;
            bottom: 27px;
          }
        }
      }
      .home-top-div3 {
        display: flex;
        justify-content: center;
        button {
          background-color: transparent;
          height: 56px;
          width: 215px;
          border: #ffffff 3px solid;
          border-radius: 82px;
          color: #ffffff;
          text-align: center;
          font-size: 16px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 0 21px;
          p {
            font-family: $av;
          }
          i {
            font-size: 2em;
            opacity: 0.6;
          }
        }
      }
    }
  }

  .home-middle {
    .home-middle-div {
      // filter: brightness(77%);
      height: 384px;
      width: 100%;
      font-size: 30px;
      line-height: 40px;
      color: #ffffff;
      text-align: center;
      font-family: $av;
      padding: 0 15px;
      display: flex;
      align-items: center;
      .home-mid-span2 {
        font-family: $sans;
        font-size: 105%;
      }
      .home-middle-hide {
        visibility: hidden;
display: none;
      }
    }
    .home-div1 {
      background: url('./images/home/anytime-fitness-gym.jpg') no-repeat;
      background-size: cover;
      background-position-x: 50%;
    }
    .home-div2 {
      background: url('./images/home/App.jpg') no-repeat;
      background-size: cover;
      background-position-x: 50%;
    }
    .home-div3 {
      background: url('./images/home/Rugged3.jpg') no-repeat;
      background-size: cover;
      background-position-x: 50%;
    }
  }
}






@media (min-width: 770px) {
  .home-main-wrapper {
    .home-dark-underlay {
      // background: #333;
      // width: 100%;
      // height: 1061px;
      .home-top {
        background: url('./images/home/AMKT16843-WEBSITE-PHOTO-OPTION1d-1.jpg') no-repeat;
        background-size: cover;
        background-position-x: 50%;
        // opacity: 0.75;
        height: 835px;;
        width: 100%;
        padding: 260px 40px 0 40px;
        display: flex;
        flex-direction: column;
        .home-top-div1 {
          text-align: center;
          margin-bottom: 90px;
          order: 2;
          p {
            // filter: brightness(150%);
            font-size: 27px;
            color: #ffffff;
            font-family: $av;
            line-height: 15px;
            span {
              display: none;
            }
          }
          .home-location-search {
            display: flex;
            heigth: 52px;
            width: 100%;
            justify-content: center;
            input {
              height: 52px;
              width: 300px;
              border-radius: 5px 0 0 5px;
              border: none;
              font-size: 15px;
              padding-left: 20px;
              font-family: $robreg;
            }
            button {
              height: 52px;
              width: 63px;
              background: #804c9e;
              border-radius: 0 5px 5px 0;
              border: none;
              color: #ffffff;
              font-size: 21px;
            }
          }
        }
        .home-top-div2 {
          color: #fff;
          text-align: center;
          position: relative;
          margin-bottom: 74px;
          order: 1;
          .home-div2-text1 {
            font-size: 40px;
            font-family: $robreg;
            margin-bottom: 16px;
          }
          .home-div2-text2 {
            font-size: 70px;
            line-height: 80px;
            font-family: $av;
            sup {
              font-size: 50%;
              position: absolute;
              bottom: 17px;
            }
          }
        }
        .home-top-div3 {
          display: flex;
          justify-content: center;
          order: 3;
          button {
            background-color: transparent;
            height: 56px;
            width: 214px;
            border: #ffffff 3px solid;
            border-radius: 62px;
            color: #ffffff;
            text-align: center;
            font-size: 17px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 10px 18px;
            p {
              font-family: $av;
            }
            i {
              font-size: 2em;
              opacity: 0.6;
            }
          }
        }
      }
    }

    .home-middle {
      display: flex;
      .home-middle-div {
        height: 385px;
        width: 33.333%;
        // filter: brightness(77%);
        font-size: 40px;
        color: #ffffff;
        font-family: $av;
        padding: 0 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .home-mid-span1 {
          display: block;
          .home-mid-span2 {
            font-family: $sans;
            font-size: 100%;
          }
        }
        p:first-of-type {
          line-height: 43px;
          margin-bottom: 10px;
        }
        .home-middle-hide {
          visibility: visible;
          font-size: 17px;
          line-height: 23px;
          font-family: $robreg;
        }
      }
      .home-div1 {
        background: url('./images/home/anytime-fitness-gym.jpg') no-repeat;
        background-size: cover;
        background-position-x: 50%;
      }
      .home-div2 {
        background: url('./images/home/App.jpg') no-repeat;
        background-size: cover;
        background-position-x: 50%;
      }
      .home-div3 {
        background: url('./images/home/Rugged3.jpg') no-repeat;
        background-size: cover;
        background-position-x: 50%;
        p:first-of-type {
          font-size: 40px;
        }
      }
    }
  }
}
