@import 'fonts';

.join-wrapper {
  .join-1 {
    height: 1406px;
    width: 100%;
    background: #231f2b;
    opacity: 0.95;
    .join-top {
      background: url('./images/join/crop.jpg') no-repeat;
      background-size: cover;
      height: 1406px;
      width: 100%;
      background-position-x: 50%;
      opacity: 0.75;
      color: #ffffff;
      text-align: center;
      padding: 156px 20px 75px 20px;
      p:first-of-type {
        font-size: 150px;
        font-family: $av;
        margin-bottom: 50px;
      }
      p:last-of-type {
        font-size: 49px;
        line-height: 64px;
        font-family: $robreg;
        margin-bottom: 50px;
      }
      button {
        background-color: transparent;
        height: 163px;
        width: 640px;
        border: #ffffff 9px solid;
        border-radius: 82px;
        color: #ffffff;
        text-align: center;
        font-size: 3em;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 82px;
        p {
          font-family: $av;
        }
        i {
          font-size: 2em;
          opacity: 0.6;
        }
      }
    }
  }

  .join-2 {
    padding: 370px 37px 250px 37px;
    .join-desc {
      margin-bottom: 184px;
      text-align: center;
      img {
        width: 122px;
        height: auto;
        margin-bottom: 76px;
      }
      p:first-of-type {
        font-family: $av;
        font-size: 92px;
        margin-bottom: 85px;
      }
      p:last-of-type {
        font-family: $robreg;
        font-size: 14px;
        line-height: 75px;
      }
    }
  }

  .join-3 {
    .join-single-bottom {
      background: url('./images/join/trees.jpg') no-repeat;
      background-size: cover;
      width: 100%;
      height: 1300px;
      color: #ffffff;
      padding: 301px 37px 301px 37px;
      p:first-of-type {
        font-family: $av;
        font-size: 60px;
        font-size: 125px;
        line-height: 144px;
        margin-bottom: 30px;
      }
      p:last-of-type {
        font-family: $robreg;
        font-size: 45px;
        font-size: 55px;
        line-height: 75px;
        margin-bottom: 90px;
      }
      button {
        background-color: transparent;
        height: 163px;
        width: 830px;
        border: #ffffff 9px solid;
        border-radius: 82px;
        color: #ffffff;
        text-align: center;
        font-size: 3em;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 82px;
        font-family: $av;
        p {
          // font-family: $av;
        }
      }
    }
    .join-triple-bottom {
      a {
        text-decoration: none;
        .join-t-img {
          height: 609px;
          width: 100%;
          background-position-x: 50%;
          padding: 44px;
          color: #ffffff;
          position: relative;
          p {
            font-family: $robreg;
            font-size: 54px;
            line-height: 77px;
          }
          .join-3-vid {
            display: flex;
            position: absolute;
            bottom: 41px;
            margin-left: 8px;
            p {
              font-family: $av;
              font-size: 48px;
              margin-right: 49px;
            }
            i {
              font-size: 68px;
            }
          }
        }
      }
    }
  }

  .join-4 {
    .join-4-heading {
      font-size: 123px;
      line-height: 147px;
      font-family: $av;
      color: #231f2b;
      text-align: center;
      padding: 320px 70px 110px 70px;
    }
    .join-lists {
      margin-bottom: 290px;
      text-align: center;
      padding-left: 70px;
      padding-right: 70px;
      .join-list {
        margin-bottom: 158px;
        .join-list-subheading {
          img {
            height: 100px;
            width: auto;
            margin-bottom: 46px;
          }
          h3 {
            font-size: 94px;
            font-family: $av;
            color: #776096;
            margin-bottom: 80px;
          }
        }
        p {
          font-size: 53px;
          font-family: $robreg;
          color: #666;
          margin-bottom: 72px;
        }
      }
    }
    .join-disclaimer {
      font-size: 14px;
      font-family: $robreg;
      color: #231f2b;
      margin-bottom: 290px;
      padding-left: 35px;
      padding-right: 35px;
      line-height: 39px;
    }
  }

  .join-5 {
    background: url('./images/join/gym-finder-background.jpg') no-repeat;
    background-size: cover;
    height: 837px;
    width: 100%;
    background-position-x: 50%;
    color: #ffffff;
    text-align: center;
    padding: 160px 40px 160px 40px;
    h2 {
      font-family: $av;
      font-size: 78px;
      line-height: 110px;
    }
    p {
      font-family: $robreg;
      font-size: 50px;
      margin-bottom: 83px;
    }
    .join-search {
      display: flex;
      heigth: 160px;
      width: 100%;
      input {
        height: 160px;
        width: 78%;
        border-radius: 20px 0 0 20px;
        border: none;
        font-size: 44px;
        padding-left: 56px;
        font-family: $robreg;
      }
      button {
        height: 160px;
        width: 22%;
        background: #804c9e;
        border-radius: 0 20px 20px 0;
        border: none;
        color: #ffffff;
        font-size: 67px;
      }
    }
  }
}

// #231f2b - heading av - disclaimer robreg
// #776096 - subheading av
//#666 - items robreg

.join-img-1 {
  background: url('./images/join/face.jpg') no-repeat;
  background-size: cover;
}
.join-img-2 {
  background: url('./images/join/threewomen.jpg') no-repeat;
  background-size: cover;
}
.join-img-3 {
  background: url('./images/join/girl.jpg') no-repeat;
  background-size: cover;
}
