@import 'fonts';

.join-wrapper {
  .join-top-underlay {
    height: 1406px;
    width: 100%;
    background: #231f2b;
    opacity: 0.95;
    .join-top {
      background: url('./images/join/crop.jpg') no-repeat;
      background-size: cover;
      height: 1406px;
      width: 100%;
      background-position-x: 50%;
      opacity: 0.75;
      color: #ffffff;
      text-align: center;
      padding: 156px 20px 75px 20px;
      p:first-of-type {
        font-size: 150px;
        font-family: $av;
        margin-bottom: 50px;
      }
      p:last-of-type {
        font-size: 49px;
        line-height: 64px;
        font-family: $robreg;
        margin-bottom: 50px;
      }
      button {
        background-color: transparent;
        height: 163px;
        width: 640px;
        border: #ffffff 9px solid;
        border-radius: 82px;
        color: #ffffff;
        text-align: center;
        font-size: 3em;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 82px;
        p {
          font-family: $av;
        }
        i {
          font-size: 2em;
          opacity: 0.6;
        }
      }
    }

  }
}
