@import 'fonts';

header {
  z-index: 1000;
}
.training-wrapper {
  background: #ffffff;
  padding-top: 300px;
  -moz-box-shadow:    inset 0 30px 15px -7px #e9e9e9;
  -webkit-box-shadow: inset 0 30px 15px -7px #e9e9e9;
  box-shadow:         inset 0 30px 15px -7px #e9e9e9;
  .training-top {
    padding: 0 47px 0 47px;
    .training-top-heading {
      font-family: $av;
      font-size: 152px;
      color: #231f2b;
      text-align: center;
      margin-bottom: 75px;
    }
    .training-top-p {
      font-family: $robreg;
      font-size: 16px;
      color: #777783;
      line-height: 90px;
      text-align: center;
      margin-bottom: 100px;
    }
    .training-top-button {
      margin-bottom: 130px;
      button {
        height: 175px;
        width: 100%;
        font-family: $av;
        background: #ffffff;
        border: #231f2b 10px solid;
        border-radius: 102px;
        font-size: 49px;
        text-align: center;
        text-transform: uppercase;
        span {
          display: none;
        }
      }
    }
    .training-top-a {
      text-align: center;
      font-family: $av;
      font-size: 15px;
      margin-bottom: 120px;
      a {
        color: #afbc21;
        text-shadow: 2px 2px 2px #afbc21;
        letter-spacing: -1px;
        text-decoration: none;
        transition: all .15s linear;
        box-sizing: border-box;
      }
    }
  }

  .training-middle {
    padding: 0 47px 0 47px;
    margin-bottom: 392px;
    .training-videos {
      margin-bottom: 98px;
      -moz-box-shadow: 0 0 30px 15px #e9e9e9;
      -webkit-box-shadow: 0 0 30px 15px #e9e9e9;
      .training-video {
        width: 100%;
        height: auto;
        position: relative;
        a {
          img {
            width: 100%;
            height: auto;
          }
        }
        i {
          position: absolute;
          font-size: 250px;
          color: #ffffff;
          opacity: 0.5;
          bottom: 50px;
          right: 50px;
        }
      }
      .training-video-text {
        height: 960px;
        width: 100%;
        padding: 91px 65px 175px 65px;
        text-align: center;
        p:first-of-type {
          font-size: 74px;
          font-family: $av;
          line-height: 99px;
          margin-bottom: 50px;
          color: #231f2b;
        }
        .training-txt {
          p {
            font-size: 43px;
            font-family: $robreg;
            line-height: 72px;
            color: #4a4a4a;
          }
        }
        .training-learn {
          display: none;
        }
      }
    }
  }
  .training-bottom {
    height: 975px;
    width: 100%;
    background: #eeeeee;
    padding: 146px 60px 150px 60px;
    text-align: center;
    p {
      color: #777783;
      font-size: 63px;
      line-height: 88px;
      margin-bottom: 117px;
    }
    button {
      height: 175px;
      width: 85%;
      font-family: $av;
      background: #eeeeee;
      border: #231f2b 10px solid;
      border-radius: 102px;
      font-size: 49px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

@media only screen and (min-width: 770px) {
  .training-wrapper {
    padding-top: 282px;
    .training-top {
      padding: 0 38px 0 38px;
      .training-top-heading {
        font-size: 77px;
        margin-bottom: 29px;
      }
      .training-top-p {
        line-height: 36px;
        margin-bottom: 47px;
      }
      .training-top-button {
        display: flex;
        justify-content: center;
        margin-bottom: 126px;
        button {
          height: 72px;
          width: 469px;
          border: #231f2b 4px solid;
          border-radius: 39px;
          font-size: 22px;
          span {
            display: inline;
          }
      }
      }
      .training-top-a {
        display: none;
      }
    }

    .training-middle {
      padding: 0 38px 0 38px;
      margin-bottom: 119px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      .training-videos {
        margin-bottom: 0px;
        width: 249px;
        .training-video {
          i {
            font-size: 102px;
            opacity: 0.55;
            bottom: 23px;
            right: 23px;
          }
        }
        .training-video-text {
          height: 535px;
          width: 100%;
          padding: 42px 0px 0px 0px;
          position: relative;
          p:first-of-type {
            font-size: 29px;
            line-height: 43px;
            margin-bottom: 27px;
          }
          .training-txt {
            padding-left: 29px;
            padding-right: 29px;
            p {
              font-size: 18px;
              line-height: 30px;
            }
          }
          .training-learn {
            display: inline;
            font-family: $av;
            font-size: 17px;
            position: absolute;
            bottom: 50px;
            right: 50%;
            margin-right: -55px;
            a {
              color: #afbc21;
              text-decoration: none;
            }
          }
        }
      }
    }
    .training-bottom {
      height: 325px;
      padding: 61px 28px 64px 28px;
      p {
        font-size: 26px;
        line-height: 36px;
        margin-bottom: 46px;
      }
      button {
        height: 72px;
        width: 293px;
        border: #231f2b 4px solid;
        border-radius: 39px;
        font-size: 22px;
      }
    }
  }
}
