// #231f2b darkslategray  most of the words
// #777783  most of the paragraphs
// #afbc21  yellowgreen
//#eeeeee whitesmoke  bottom

@import 'fonts';

.training-wrapper {
  background: #ffffff;
  padding-top: 300px;
  -moz-box-shadow:    inset 0 30px 15px -7px #e9e9e9;
  -webkit-box-shadow: inset 0 30px 15px -7px #e9e9e9;
  box-shadow:         inset 0 30px 15px -7px #e9e9e9;
  .training-top {
    padding: 0 47px 0 47px;
    .training-top-heading {
      font-family: $av;
      font-size: 152px;
      color: #231f2b;
      text-align: center;
      margin-bottom: 75px;
    }
    .training-top-p {
      font-family: $robreg;
      font-size: 16px;
      color: #777783;
      line-height: 90px;
      text-align: center;
      margin-bottom: 100px;
    }
    .training-top-button {
      margin-bottom: 130px;
      button {
        height: 175px;
        width: 100%;
        font-family: $av;
        background: #ffffff;
        border: #231f2b 10px solid;
        border-radius: 102px;
        font-size: 49px;
        text-align: center;
        text-transform: uppercase;
        span {
          display: none;
        }
      }
    }
    .training-top-a {
      text-align: center;
      font-family: $av;
      font-size: 15px;
      margin-bottom: 120px;
      a {
        color: #afbc21;
        text-shadow: 2px 2px 2px #afbc21;
        letter-spacing: -1px;
        text-decoration: none;
        transition: all .15s linear;
        box-sizing: border-box;
      }
    }
  }

  .training-middle {
    padding: 0 47px 0 47px;
    margin-bottom: 392px;
    .training-videos {
      margin-bottom: 98px;
      -moz-box-shadow: 0 0 30px 15px #e9e9e9;
      -webkit-box-shadow: 0 0 30px 15px #e9e9e9;
      .training-video {
        width: 100%;
        height: auto;
        position: relative;
        a {
          img {
            width: 100%;
            height: auto;
          }
        }
        i {
          position: absolute;
          font-size: 250px;
          color: #ffffff;
          opacity: 0.5;
          bottom: 50px;
          right: 50px;
        }
      }
      .training-video-text {
        height: 960px;
        width: 100%;
        padding: 91px 65px 175px 65px;
        text-align: center;
        p:first-of-type {
          font-size: 74px;
          font-family: $av;
          line-height: 99px;
          margin-bottom: 50px;
          color: #231f2b;
        }
        p:last-of-type {
          font-size: 43px;
          font-family: $robreg;
          line-height: 72px;
          color: #4a4a4a;
        }
      }
    }
  }
  .training-bottom {
    height: 975px;
    width: 100%;
    background: #eeeeee;
    padding: 146px 60px 150px 60px;
    text-align: center;
    p {
      color: #777783;
      font-size: 63px;
      line-height: 88px;
      margin-bottom: 117px;
    }
    button {
      height: 175px;
      width: 85%;
      font-family: $av;
      background: #eeeeee;
      border: #231f2b 10px solid;
      border-radius: 102px;
      font-size: 49px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
